body
{
font-family: "American Typewriter", Courier, "Courier New", monospace;
background-color: #545861;
color: #696969;
}

#main
{
padding: 30px;
background-color: #000000;
border-radius: 0 0 4px 4px;
}

h1
{
border-bottom: 3px solid #740707;
color: #830808;
}

ul#menu
{
padding: 0px;
position: relative;
margin: 0;
}

ul#menu li
{
display: inline;
}

ul#menu li a 
{
background-color: #000000;
padding: 10px 20px;
text-decoration: none;
line-height: 2.8em;
color: #FFFFFF;
}

ul#menu li a:hover
{
background-color: #bd1010;
}
 