body
{
font-family: Century Gothic, sans-serif;
background-color: #F5F5DC;
color: #696969;
}

#main
{
padding: 30px;
background-color: #F5F5DC;
border-radius: 0 0 4px 4px;
}

h1
{
border-bottom: 3px solid #778899;
color: #808080;
}

ul#menu
{
padding: 0px;
position: relative;
margin: 0;
}

ul#menu li
{
display: inline;
}

ul#menu li a 
{
background-color: #000000;
padding: 10px 20px;
text-decoration: none;
line-height: 2.8em;
color: #FFFFFF;
}

ul#menu li a:hover
{
background-color: #bd1010;
}

#map-canvas 
{
width: 500px;
height: 400px;
}
 